# Arquivos de bytecode Python (arquivos temporários compilados)
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais (caso crie no VS Code)
.venv/
venv/
env/

# Arquivos temporários do Jupyter / Colab / VS Code
.ipynb_checkpoints/
.vscode/
tempCodeRunnerFile.py

# Variáveis de ambiente e credenciais locais (boas práticas de segurança)
.env
.streamlit/secrets.toml

.vs/